.noseids
temp/
dist/
build/
target/
__pycache__/
*.egg-info
venv/
*.pyc

# OSX
.DS_Store

# Intellij files
.idea/
*.iml

# Sublime files
*.sublime-project
*.sublime-workspace

# VS Code
.vscode
.coverage
