<html>
    <head>
        <title>{{ title|e }}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="application/ecmascript">
            $(document).ready(function() {
                var FINAL_INCOMPLETE_CODE = 'HIDDEN__preview_incomplete_code';
                var last_serialized = '``````';
                var last_subject = '``````';
                var incomplete_form = true;
                var validationElem = "<li class='list-group-item list-group-item-warning'>[MSG]</li>";

                function validate_placeholders(serialized) {
                    $('#validationInfoList').empty();
                    return $.post('{{ validation_url }}', serialized, function (data) {
                        if (data.hasOwnProperty('validationErrors') && data.validationErrors.length > 0) {
                            data.validationErrors.forEach(function (error) {
                                $('#validationInfoList').append(validationElem.replace('[MSG]', error))
                            })
                            $('#validationInfoBox').removeClass('hidden');
                        } else {
                            $('#validationInfoBox').addClass('hidden');
                        }
                    }, 'json');
                }

                var update_display = function() {
                    var this_subject = $("input[name=subject]").val();
                    if (this_subject != last_subject) {
                        $("#gui-view-subject>.subject").text(this_subject || "<no subject>");
                        last_subject = this_subject;
                    }

                    var outside_iframe_editor_contents = $("#gui-form").serialize();
                    var serialized = outside_iframe_editor_contents;
                    try {
                        var editor_contents = $('form', frames['gui-edit-content'].document);
                        var serialized_editor_contents = editor_contents.serialize();
                        serialized += '&' + serialized_editor_contents;
                    } catch (ex) {
                        console.log('No iframe gui-edit-content', ex);
                    }
                    if (serialized != last_serialized) {
                        $.post('{{ view_url }}', serialized, function (data) {
                            incomplete_form = data.indexOf(FINAL_INCOMPLETE_CODE) >= 0;
                            if (incomplete_form) {
                                $("#gui-submit-save").attr('disabled', 'disabled');
                            } else {
                                $("#gui-submit-save").removeAttr('disabled');
                            }
                            $("#gui-view-content").attr("srcdoc", data);
                            last_serialized = serialized;
                        }, 'html').then(function () {
                            if (!incomplete_form) {
                                validate_placeholders(serialized);
                            }
                        });
                    }
                };
                update_display();
                window.setInterval(update_display, 1500);
            });
        </script>
        <style type="text/css">
            input.absent {border-size: 4px; border-color: #ff4444;}
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <form id="gui-form" method="POST">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="form-group">
                                <label for="saveAsFilename">Template filename</label>
                                <input type="text" class="form-control" name="templateFilename" id="saveAsFilename"
                                       pattern=".+\.xml"
                                       placeholder="Template filename"
                                       aria-describedby="helpBlock2"
                                       value="{{ values.get('templateFilename', '') }}"
                                       {{ 'readonly' if values.get('templateFilename', None) else 'false'}}
                                       required
                                >
                                <span id="helpBlock2" class="help-block">
                                    File name should end with <b>.xml</b> extension
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="localeName">Template locale</label>
                                <select class="form-control" id="localeName" name="localePath" required
                                        {{ 'readonly' if values.get('localePath', None) else '' }}>
                                {% for locale_name, locale_path in values['availableLocaleDict'].items() %}
                                    <option value="{{ locale_path|e }}"
                                            {{ 'selected' if values.get('localePath', None) == locale_name else '' }}
                                    >
                                        {{ locale_name|e }}
                                    </option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="cssMultipleSelect">Template style</label>
                                <select multiple class="form-control" id="cssMultipleSelect" name="HIDDEN__styles" required>
                                    {% for style in all_styles %}
                                        <option {{ 'selected' if style in styles else '' }} value="{{ style|e }}">{{ style|e }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-5">
                            <div class="form-group">
                            <input type="reset" class="btn btn-danger btn-block"/>
                            <button type="submit"
                                    class="btn btn-primary btn-block"
                                    formaction="{{ save_url|e }}"
                                    id="gui-submit-save"
                                    disabled="disabled">
                                Save
                            </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="validationInfoBox" class="hidden">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">Validation warnings</div>
                                    <div class="panel-body">
                                        <ul class="list-group" id="validationInfoList">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Placeholder editor</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="subjectInput">Subject</label>
                                        <input type="text" class="form-control" name="subject" id="subjectInput"
                                               placeholder="Type subject here" value="{{ subject|e }}" required>
                                    </div>
                                    <div class="row" id="gui-editor">
                                        <div class="col-md-12">
                                            <iframe id="gui-edit-content" name="gui-edit-content"
                                                    srcdoc="{{ content|e}}</form>"
                                                    frameborder="0"
                                                    width="100%"
                                                    height="100%"
                                                    scrolling="auto"></iframe>
                                        </div>
                                        {% if attrs %}
                                            <fieldset class="generated-fields">
                                                <ul>
                                                    {% for attr in attrs %}
                                                        <li><label>{{ attr }}:
                                                            {% if dropdowns and attr in dropdowns %}
                                                                <select name="{{ attr }}"
                                                                        class="{{ 'present' if attr in values else 'absent' }}"
                                                                        style="width: 60%">
                                                                    {% for option in dropdowns[attr] %}
                                                                        <option value="{{ option }}"
                                                                                {% if values[attr] == option %}
                                                                                selected="selected" {% endif %}
                                                                        >{% if verified_dropdowns
                                        and verified_dropdowns[attr]
                                        and option not in verified_dropdowns[attr] %}
                                                                            &#x26a0; {% endif %}{{ option }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            {% else %}
                                                                <input name="{{ attr }}" type="text"
                                                                       class="{{ 'present' if attr in values else 'absent' }}"
                                                                       placeholder="{{ attr }}"
                                                                       value="{{ values[attr] }}"
                                                                       style="width: 60%"
                                                                />
                                                            {% endif %}
                                                        </label></li>
                                                    {% endfor %}
                                                </ul>
                                            </fieldset>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Preview</div>
                                <div class="panel-body">
                                    <div class="row" id="gui-view-subject">
                                        <h1 class="subject" style="text-align: center">{{ subject|e }}</h1>
                                    </div>
                                    <div class="row">
                                        <iframe id="gui-view-content" srcdoc=""
                                                frameborder="0"
                                                width="100%"
                                                height="100%"
                                                scrolling="auto"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
